@use "../base/variables" as *;
@use "../components/button" as *;

/* --- СТИЛІ АКОРДЕОНУ --- */
.accordion {
  position: relative;
  width: 100%;
  padding-top: 120px;
  background-color: $bgc-general;
}

.accordion__title {
  margin-bottom: 50px;
}

.accordion__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #3b3450;
}
.accordion__content {
  border-radius: 10px;
  padding: 28px 40px;
}
.accordion__btn {
  cursor: pointer;
  color: $color-text-purple;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.8s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.accordion__finger-wrapper {
  display: flex;
  align-self: center;
  gap: 15px;

  transition: transform 0.8s ease;
}

.accordion__btn.is-active .accordion__finger-wrapper {
  transform: translateX(20px);
}

.accordion__finger-wrapper img {
  width: 54px;
  height: 48px;
}

.accordion__btnText {
  font-size: clamp(18px, 4vw, 32px);
  font-weight: 900;
  background-color: #2c2640;
  padding: 10px 20px;
  border-radius: 3px;
}
.accordion__btnImg {
  position: relative;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent1);
}

.accordion__svg {
  transition: opacity 0.16s ease;
  opacity: 1;
}

.accordion__svg.is-hidden {
  opacity: 0;
}

.accordion__panel {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, opacity 0.7s ease;
}
.accordion__panel--opened {
  opacity: 1;
}
.accordion__panelBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.accordion__list {
  flex-basis: 53%;
}
.accordion__list li {
  font-size: 18px;
  margin-bottom: 11px;
  line-height: 1.2;
  list-style: none;
  color: $color-text-secondary;
  padding-left: 24px;
  position: relative;
}
.accordion__list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 1px;
  background: #ae6bb5;
  font-size: 10px;
}
.accordion__list li:last-child {
  margin-bottom: 0;
}

.accordion__list-text--white {
  color: #ffffff;
  font-weight: 700;
}

.accordion__img-wrapper {
  flex-basis: 43%;
}
.accordion__img {
  aspect-ratio: 772 / 391;
  width: 100%;
}

/* --- МЕДІАЗАПИТИ --- */

@media (max-width: $breakpoint-mobile) {
  .accordion__list li {
    font-size: 16px;
  }
  .accordion {
    position: static;
    padding-top: 160px;
  }

  .accordion__title {
    margin-bottom: 30px;
    font-size: clamp(29px, 3.06vw, 60px);
  }

  .accordion__content {
    padding: 12px;
  }

  .accordion__btn {
    gap: 20px;
  }

  .accordion__btn.is-active .accordion__finger-wrapper {
    transform: none;
  }

  .accordion__btnText {
    padding-inline: 12px;
    font-size: clamp(17px, 4vw, 32px);
  }

  .accordion__finger-wrapper img {
    height: 36px;
  }

  .accordion__panelBottom {
    flex-direction: column;
    gap: 24px;
  }
}
