$breakpoint-mobile: 767px;
// FONT-SIZE
$fs-h1-desktop: 60px;
$fs-h2-desktop: 40px;
$fs-h3-desktop: 32px;
$fs-h4-desktop: 24px;
$fs-h5-desktop: 18px;

$fs-h1-mobile: 32px;
$fs-h2-mobile: 24px;
$fs-h3-mobile: 18px;
$fs-h4-mobile: 16px;

$fs-btn-desktop: 18px;
$fs-btn-mobile: 14px;

// COLOR
$color-text-primary: #ffffff;
$color-text-secondary: #BFBFCB;
$color-text-btn: #2A2E0A;
$color-text-red: #FD5022;
$color-text-grey-blue: #8587A2;
$color-text-purple: #AE6BB5;
$color-text-olive-yellow: #A9A71E;

// BACKGROUND
$bgc-general: #14141A;
$bgc-btn: #E5FF3A;
$bgc-red: #FD5022;
$bgc-purple: #AE6BB5;
$bgc-olive-yellow: #A9A71E;

// BORDER-RADIUS
$border-radius-container: 10px;
$border-radius-button: 6px;